
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body{
            background: #f2f2f2;
        }

        /* NAVBAR */

        .navbar{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            background: #222;
            padding: 20px;
            gap: 20px;
        }

        /* LOGO */

        .logo{
            color: white;
            font-size: 28px;
            font-weight: bold;
        }

        /* MENU */

        .menu{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .menu a{
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        .menu a:hover{
            color: orange;
        }

        /* BUTTON */

        .btn button{
            padding: 10px 20px;
            border: none;
            background: orange;
            color: white;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
        }

        .btn button:hover{
            background: darkorange;
        }

